# Virtual environment
py310/

# Data files
*.pickle
dataset.zip/

# Model files
*.h5
*.pth

# Notebooks and logs
train_initial_attempt/

test/

# Caches
test/**/__pycache__/
**/__pycache__/

# Dataset folders (ignore large image sets)
asl_alphabet_train/
dataset/

# Media folders
media/

# Output models
output_models/

# OS files
.DS_Store
Thumbs.db